---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Image from "astro/components/Image.astro";
import heroImage from "../assets/about-me-image.jpeg";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<Header />
		<main>
			<Image class="hero-image" src={heroImage} alt="hero alt" />

			<hr />

			<p>
				Bacharel em ciências da computação pela Universidade Federal de
				Goiás, tenho por volta de oito anos de experiência no
				desenvolvimento de software, grande parte desse período no setor
				financeiro. Tenho expertise em tecnologias como Node.js,
				TypeScript, AWS, React, bancos de dados relacionais e não
				relacionais, além de experiência sólida no design, implementação
				e monitoramento de microsserviços escaláveis com arquitetura
				baseada em eventos.
			</p>

			<p>
				Atualmente, atuo na Ewally, onde contribuo para o
				desenvolvimento de uma infraestrutura robusta composta por
				dezenas de microsserviços. Essas APIs transacionam dezenas de
				milhões mensalmente com segurança e performance previsíveis.
				Dentre os produtos mais importantes que trabalhei enquanto atuo
				na Ewally, posso sitar o gateway de pagamentos que participei
				desde sua concepção até o lançamento, outro projeto importante é
				o sistema de registro e antecipação de recebíveis usado pelo
				Carrefour na operação da rede Atacadão.
			</p>

			<h5 class="font-bold">
				Habilidades e comportamentos que podem ser esperados ao me
				contratar:
			</h5>

			<ol class="list-decimal pl-5">
				<li>Pensamento Crítico e Resolução de Problemas</li>
				<li>Trabalho em Equipe e Colaboração</li>
				<li>Comunicação Clara e Eficaz</li>
				<li>Adaptabilidade e Aprendizado Contínuo</li>
				<li>Gestão do Tempo e Organização</li>
				<li>Atenção aos Detalhes</li>
				<li>Inteligência Emocional</li>
			</ol>
		</main>

		<Footer />
	</body>
</html>

<style>
	.hero-image {
		display: block;
		margin: 0 auto;
		max-width: 500px;
	}
	hr {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
</style>
